.content {
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

/* HEAD CONTENT */

.header1 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header1 h1 {
    font-weight: 500;
    font-family: 'poppins';
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 23px;
}

.form-content {
    background-color: #eeeeee;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}

.form-group {
    padding-top: 10px;
}

.form-group label {
    margin-bottom: 5px;
    padding-left: 5px;
}

.form-group input {
    height: 45px;
    margin-bottom: 10px;
}

.form-group1 {
    padding-top: 10px;
    width: 49%;
}

.form-group1 label {
    margin-bottom: 5px;
    padding-left: 5px;
}

.form-group1 input {
    height: 45px;
    margin-bottom: 10px;
}

.form-group1 select {
    height: 45px;
    margin-bottom: 10px;
}

.form-group2 {
    margin-top: -84px;
    margin-left: 570px;
    width: 49%;
}

.form-group2 label {
    margin-bottom: 5px;
    padding-left: 5px;
}

.form-group2 input {
    height: 45px;
    margin-bottom: 10px;
}

.form-group2 select {
    height: 45px;
    margin-bottom: 10px;
}

.update {
    margin-top: 30px;
    align-items: center;
    background-color: #21565D;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-left: 500px;
    width: 90px;
    height: 40px;
    text-transform: uppercase;
}