.content {
    justify-content: center;
    align-items: center;
}
  
/* HEAD CONTENT */
.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 28px;
}

.header a {
    text-align: center;
    align-items: center;
}

.header a h2 {
    margin-top: -15px;
    font-size: 15px;

}

.header .material-report {
    align-items: center;
    background-color: var(--main-green);
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding-top: 23px;
    margin-top: 15px;
    font-size: 16px;
    width: 140px;
    height: 40px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    transition: .3s;
    transform: translate(0px, 0px);
    margin-right: 50px;
}

.header .material-report:hover {
    box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
    transform: translate(0px, -2px);
    background: var(--green-hover);
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
}

.cards {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.cards .card1 {
    width: 350px;
    height: 100px;
    background-color: #21565D;
    color: #fff;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.icon-case1 img {
    height: 80px;
    width: 85px;
    margin-top: 10px;
    margin-left: 5px;
}

.icon-case2 img {
    height: 80px;
    width: 85px;
    margin-top: 10px;
    margin-left: 5px;
}

.icon-case3 img {
    height: 80px;
    width: 85px;
    margin-top: 10px;
    margin-left: 5px;
}

.cards .card1 .box1 {
    text-align: center;
    margin-left: 10px;
}

.cards .card1 .box1 h1 {
    font-size: 30px;
    text-decoration: none;
}
 
.cards .card1 .box1 h3 {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.cards .card2 {
    width: 350px;
    height: 100px;
    background-color: #31A463;
    color: #fff;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: #31A463;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/******************************** PRINTBTN ******************************************/

.printbtn {
    background-color: var(--primary-color);
    color: var(--main-green);
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-left: 20px;
    padding: 5px;
    margin-top: 5px;
    border: none;
}

.printbtn .print {
    background-color: transparent;
    color: var(--main-green);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.printbtn .print-icon {
    margin-right: 3px;
    font-size: 17px;
}

a {
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 500;
}

hr {
    width: 94.5%;
    margin-left: 25px;
}

