.button-container {
    margin-bottom: 20px;
}

.action-btn {
    background-color: #21565D; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.action-btn:hover {
    background-color: #183c40; /* Darker shade for hover */
}

table, thead, tbody {
    text-align: center;
}

.header1 {
    display: flex;
    justify-content: space-between;
}

.content {
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 15px;
}

.container h1 {
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em; /* Increased font size */
    width: 100%; /* Ensuring it doesn't get too wide */
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #21565D;
    color: #ffffff;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 20px 25px; /* Increased padding for bigger cells */
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #21565D;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #21565D;
} */

.delete-btn {
    background-color: #c00; /* Red background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.delete-btn:hover {
    background-color: #a00; /* Darker red on hover */
}
